<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="<%- (typeof meta != 'undefined') ? meta.description : '' %>">
        
        <title><%- (typeof meta != 'undefined') ? meta.title : 'Fundamental Studio Ltd.' %></title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
        <link rel="stylesheet" href="/public/stylesheets/blog.css">
    </head>
    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation" id="navigation">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="/">
                        <img src="http://localhost:3000/media/5c3d06f5a9f7d43760e60ed5" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <div v-for="(item, i) in nodes">
                            <a :href="item.href" :class="'navbar-item ' + item.classes" v-if="!item.children.length" v-text="item.title"></a>

                            <div class="navbar-item has-dropdown is-hoverable" v-else>
                                <a :class="'navbar-link ' + item.classes" v-text="item.title"></a>

                                <div class="navbar-dropdown">
                                    <a :href="child.href" class="navbar-item" v-for="(child, j) in item.children" v-text="child.title"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAV -->