<%- include('partials/header') %>

    <section class="hero is-success is-fullheight" style="background: url(http://localhost:3000/media/5c3d0681a9f7d43760e60ed4); background-size: cover;">
		  <div class="hero-body" style="background: rgba(0, 0, 0, .3)">
		    <div class="container">
		      <h1 class="title" style="font-size: 3em;">
		        Test site
		      </h1>
		      <h2 class="subtitle" style="font-size: 1.5em;">
		        Метод за достъп до съобщителна среда с избягване на колизии
		      </h2>
		    </div>
		  </div>
		</section>
    </div>

<%- include('partials/footer') %>