<%- include('partials/header') %>

	<section class="section">
		<div class="container">
			<h1 class="title">
				
			</h1>
			<p class="subtitle">
				The content goes here.
			</p>
		</div>
	</section>

<%- include('partials/footer') %>