<%- include('partials/header') %>

    <section>
        <div class="container is-fluid">
            <div class="columns">
                <div class="column">
                    <form method="post" action="/content">
                        
                    </form>
                </div>
            </div>
        </div>
    </section>

<%- include('partials/footer') %>