<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        
        <title>Fundamental Studio Ltd.</title>

        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
        <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js"></script>
        <link rel="stylesheet" href="https://surveyjs.azureedge.net/1.0.10/survey.css" />
        <link rel="stylesheet" href="/stylesheets/admin.css" />
    </head>
    <body>

        <!-- START NAV -->
    <nav class="navbar is-white">
        <div class="container">
            <div class="navbar-brand">
                <a class="navbar-item brand-text" href="/zulu">
                    Fundamental
                </a>
                <div class="navbar-burger burger" data-target="navMenu">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="/zulu/dashboard">
                        Табло
                    </a>
                    <a class="navbar-item" href="/zulu/users">
                        Потребители
                    </a>
                </div>
                <div class="navbar-end">
                    <a class="navbar-item" href="/zulu/profile">
                        Здравей, Константин Рачев!
                    </a>
                    <a class="navbar-item" href="/logout">
                        Изход
                    </a>
                </div>
            </div>
        </div>
    </nav>
    <!-- END NAV -->
    <div class="container">
        <div class="columns">
            <div class="column is-3 ">
                <aside class="menu is-hidden-mobile">
                    <p class="menu-label">
                        Съдържание
                    </p>
                    <ul class="menu-list">
                        <li>
                            <a href="/zulu/content-types">Типове съдържание</a>
                            <% if (typeof contentTypes == Array) { %>
                            <ul>
                                <% contentTypes.forEach((item) => { %>
                                <li><a href="/zulu/content-types/<%= item.title %>"><%= item.title %></a></li>
                                <% }); %>
                                <li><a href="/zulu/content-types">Виж всички</a></li>
                            </ul>
                            <% } %>
                        </li>
                        <li>
                            <a href="/zulu/pages">Страници</a>
                        </li>
                    </ul>
                    <p class="menu-label">
                        Настройки
                    </p>
                    <ul class="menu-list">
                        <li><a href="/zulu/content-types">Типове съдържание</a></li>
                        <li><a href="/zulu/navigations">Навигации</a></li>
                        <li><a href="/zulu/media">Файлове</a></li>
                        <li><a href="/zulu/users">Потребители</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column is-9">
                